
body{
	background: linear-gradient(200deg, #ec235d, #d88771);
	color: white;
	font-family: sans-serif;
	min-height: 100vh;
}
header{
	font-size: 1.5rem;
}
header,
form{
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
form button:hover{
	background-color: #d88771;
	color: white;
}
.todo-container{
	display: flex;
	justify-content: center;
	text-align: center;
}
.todo-list{
	min-width: 30%;
	list-style: none;
}

.todo{
	margin: 0.5rem;
	background-color: white;
	color: black;
	align-items: center;
	transition: all 0.5s ease;
}
.todo li{
	flex: 1;
}
.trash-btn, .complete-btn{
	background-color: #ff6f47;
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}
.complete-btn{
	background-color: green;

}
.completed{
	text-decoration: line-through;
	opacity: 0.5;
}
.fall{
	transform: translateY(8rem) rotateZ(20deg);
	opacity: 0;
}
select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
}
.select{
	margin: 1rem;
	position: relative;
	overflow: hidden;
	font-size: 15px;

}
select{
	color: #ff6f47;
	width: 10rem;
	cursor: pointer;
	font-size: 17px;
	font-weight: bold;
}

.select::after{
	content: "\25BC";
	position: absolute;
	background-color: #ff6f47;
	top: 0;
	right: 0;
	padding: 1rem;
	pointer-events: none;
}
.select:hover::after{
	background-color: white;
	color: #ff6f47;
}
